language: python
python:
  - "2.7"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -r requirements/test.txt
  - pip install coveralls
# command to run tests, e.g. python setup.py test
script:
  - coverage run mariokart/manage.py test comparison --settings=mariokart.settings.test
after_success: coveralls
