{% extends "comparison/list.html" %}
{% load staticfiles %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block panel_title %}My Karts{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block add_configform %}
<div class="text-right">
  <a class="btn btn-default" href="/save/">Share <span class="glyphicon glyphicon-share"></span></a>
  <button id="reset-btn" class="btn btn-default">Reset <span class="glyphicon glyphicon-trash"></span></button>
  <button class="btn btn-danger" data-toggle="modal" data-target="#addModalDriver">Add Kart
    <span class="glyphicon glyphicon-plus"></span>
  </button>
</div>

<form action="{% url 'home' %}" method="post">
{% csrf_token %}

<!-- Step 1: Driver Modal -->
<div class="modal fade" id="addModalDriver" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Step 1 of 4: <span class="hidden-xs">Please choose a character...</span><span class="visible-xs">Driver</span></h4>
    </div>
    <div class="modal-body">
      {% for item in characters %}<label class="fb fb-character" for="fb-character-{{ forloop.counter }}">
        <input id="fb-character-{{ forloop.counter }}" type="radio" name="add-character" value="{{ item.id }}" />
        <img src="{{ item.file }}" alt="{{ item.name }}" title="{{ item.name }}" class="img-rounded">
      </label>{% endfor %}
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" id="character-next" class="btn disabled" data-dismiss="modal" data-toggle="modal" data-target="#addModalKart">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
  </div>
  </div>
</div>

<!-- Step 2: Kart Modal -->
<div class="modal fade" id="addModalKart" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Step 2 of 4: <span class="hidden-xs">Please choose a kart body...</span><span class="visible-xs">Kart</span></h4>
    </div>
    <div class="modal-body">
      {% for item in karts %}<label class="fb fb-kart" for="fb-kart-{{ forloop.counter }}">
        <input id="fb-kart-{{ forloop.counter }}" type="radio" name="add-kart" value="{{ item.id }}" />
        <img src="{{ item.file }}" alt="{{ item.name }}" title="{{ item.name }}" class="img-rounded">
      </label>{% endfor %}
    </div>
    <div class="modal-footer">
    <button type="button" id="kart-back" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#addModalDriver"> <span class="glyphicon glyphicon-arrow-left"></span> Back</button>
    <button type="button" id="kart-next" class="btn disabled" data-dismiss="modal" data-toggle="modal" data-target="#addModalTire">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
  </div>
  </div>
</div>

<!-- Step 3: Tire Modal -->
<div class="modal fade" id="addModalTire" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Step 3 of 4: <span class="hidden-xs">Please choose wheels...</span><span class="visible-xs">Tire</span></h4>
    </div>
    <div class="modal-body">
      {% for item in wheels %}<label class="fb fb-wheel" for="fb-wheel-{{ forloop.counter }}">
        <input id="fb-wheel-{{ forloop.counter }}" type="radio" name="add-wheel" value="{{ item.id }}" />
        <img src="{% static '{{ item.file }}' %}" alt="{{ item.name }}" title="{{ item.name }}" class="img-rounded">
      </label>{% endfor %}
    </div>
    <div class="modal-footer">
    <button type="button" id="wheel-back" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#addModalKart"> <span class="glyphicon glyphicon-arrow-left"></span> Back</button>
    <button type="button" id="wheel-next" class="btn disabled" data-dismiss="modal" data-toggle="modal" data-target="#addModalGlider">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
  </div>
  </div>
</div>

<!-- Step 4: Glider Modal -->
<div class="modal fade" id="addModalGlider" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Step 4 of 4: <span class="hidden-xs">Please choose a glider...</span><span class="visible-xs">Glider</span></h4>
    </div>
    <div class="modal-body">
      {% for item in gliders %}<label class="fb fb-glider" for="fb-glider-{{ forloop.counter }}">
        <input id="fb-glider-{{ forloop.counter }}" type="radio" name="add-glider" value="{{ item.id }}" />
        <img src="{{ item.file }}" alt="{{ item.name }}" title="{{ item.name }}" class="img-rounded">
      </label>{% endfor %}
    </div>
    <div class="modal-footer">
    <button type="button" id="glider-back" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#addModalTire"> <span class="glyphicon glyphicon-arrow-left"></span> Back</button>
    <button type="submit" id="glider-next" class="btn disabled">Finish <span class="glyphicon glyphicon-flag"></span></button>
    </div>
  </div>
  </div>
</div>

</form>
{% endblock %}

{% block script_extra %}
<script>
$( document ).ready(function() {
  // Add Kart form
  $( "label.fb-character" ).click(function() {
    $( "#character-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-kart" ).click(function() {
    $( "#kart-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-wheel" ).click(function() {
    $( "#wheel-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-glider" ).click(function() {
    $( "#glider-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });

  // Add Kart form
  $( "label.fb-character" ).click(function() {
    $( "#character-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-kart" ).click(function() {
    $( "#kart-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-wheel" ).click(function() {
    $( "#wheel-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-glider" ).click(function() {
    $( "#glider-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });

  // confirm kart configuration list reset
  $( "#reset-btn" ).click(function() {
    if (confirm('Are you sure you want to clear all your kart configurations?')) {
      window.location = "{% url 'reset' %}";
    }
  });

  {% if configurations %}
  $( "#share_link" ).removeClass("disabled");
  $('#share_link > a').unbind('click');
  {% endif %}
});
</script>
{% endblock %}
