{% extends "comparison/list.html" %}
{% load staticfiles %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block panel_title %}My Karts{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block add_configform %}
<div class="text-right">
  <a class="btn btn-default" href="/save/">Share <span class="glyphicon glyphicon-share"></span></a>
  <button id="reset-btn" class="btn btn-default">Reset <span class="glyphicon glyphicon-trash"></span></button>
  <a class="btn btn-danger" href="/add/">Add Kart <span class="glyphicon glyphicon-plus"></span></a>
</div>
{% endblock %}

{% block script_extra %}
<script>
$( document ).ready(function() {
  // Add Kart form
  $( "label.fb-character" ).click(function() {
    $( "#character-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-kart" ).click(function() {
    $( "#kart-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-wheel" ).click(function() {
    $( "#wheel-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-glider" ).click(function() {
    $( "#glider-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });

  // Add Kart form
  $( "label.fb-character" ).click(function() {
    $( "#character-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-kart" ).click(function() {
    $( "#kart-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-wheel" ).click(function() {
    $( "#wheel-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });
  $( "label.fb-glider" ).click(function() {
    $( "#glider-next" ).removeClass( "disabled").addClass( "btn-danger" );
  });

  // confirm kart configuration list reset
  $( "#reset-btn" ).click(function() {
    if (confirm('Are you sure you want to clear all your kart configurations?')) {
      window.location = "{% url 'reset' %}";
    }
  });

  {% if configurations %}
  $( "#share_link" ).removeClass("disabled");
  $('#share_link > a').unbind('click');
  {% endif %}
});
</script>
{% endblock %}
