{% extends "comparison/base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% block head_extra %}{% endblock %}
{% endblock %}

{% block panel_title %}Saved Configuration List{% endblock %}

{% block panel_alt_title %}
<div class="dropdown pull-right">
  <button class="btn btn-default btn-xs dropdown-toggle navbar-right" type="button" id="dropdownMenu1" data-toggle="dropdown">
    <span class="glyphicon glyphicon-cog"></span> View
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation" class="dropdown-header">Columns</li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="table-toggle-speed">Speed</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="table-toggle-speed-hidden">Speed <span>(secret)</span></a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="table-toggle-acceleration">Acceleration</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="table-toggle-weight">Weight</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="table-toggle-handling">Handling</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="table-toggle-handling-hidden">Handling <span>(secret)</span></a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="table-toggle-traction">Traction</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="table-toggle-miniturbo">Miniturbo <span>(secret)</span></a></li>
    <li role="presentation" class="dropdown-header">Options</li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="table-toggle-highlight">Highlight secret stats</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table table-condensed table-hover tablesorter" data-role="table" data-mode="columntoggle" id="kart-list">
    <!-- Header -->
    <thead>
    <tr>
      <th class="hidden-xs">
        <span class="unsortable">Configuration</span>
      </th>
      <th data-priority="1" data-column="speed_ground">
        <span><abbr title="The top speed of the vehicle on land with normal gravity. Does not affect off-road travel.">Speed</abbr></span>
      </th>
      <th data-priority="3" data-column="speed_water">
        <span><abbr title="The top speed of the vehicle while driving underwater.">Water</abbr></span>
      </th>
      <th data-priority="3" data-column="speed_air">
        <span><abbr title="The top speed of the vehicle while gliding.">Air</abbr></span>
      </th>
      <th data-priority="3" data-column="speed_antigravity">
        <span><abbr title="The top speed of the vehicle in anti-gravity mode.">Antigrav</abbr></span>
      </th>
      <th data-priority="1" data-column="acceleration">
        <span><abbr title="The rate of the vehicle it takes to reach its top speed from a standing position.">Accel</abbr></span>
      </th>
      <th data-priority="1" data-column="weight">
        <span><abbr title="The weight of the vehicle. Vehicles with higher weight knock away vehicles with lower weight.">Weight</abbr></span>
      </th>
      <th data-priority="1" data-column="handling_ground">
        <span><abbr title="The turning ability of the vehicle on land with normal gravity. A higher stat means vehicles turn sharper.">Handling</abbr></span>
      </th>
      <th data-priority="3" data-column="handling_water">
        <span><abbr title="The turning ability of the vehicle while driving underwater.">Water</abbr></span>
      </th>
      <th data-priority="3" data-column="handling_air">
        <span><abbr title="The turning ability of the vehicle while gliding.">Air</abbr></span>
      </th>
      <th data-priority="3" data-column="handling_antigravity">
        <span><abbr title="The turning ability of the vehicle in anti-gravity mode.">Antigrav</abbr></span>
      </th>
      <th data-priority="1" data-column="traction">
        <span><abbr title="The grasp of the vehicle. Vehicles with higher traction slip less on certain terrain and can stay stable on the road better. Not to be confused with handling.">Traction</abbr></span>
      </th>
      <th data-priority="2" data-column="miniturbo">
        <span><abbr title="The strength of the vehicle's mini-turbo speed boosts.">Miniturbo</abbr></span>
      </th>
    </tr>
    </thead>

    <tbody>
    {% for config in configurations %}
    <!-- Visible: sm, md, lg -->
    <tr class="hidden-xs">
      <td>
        <img src="{{ config.character.file }}" height="32" width="32" alt="{{ config.character.name }}" class="character"><img src="{{ config.kart.file }}" height="32" width="50" alt="{{ config.kart.name }}"><img src="{{ config.wheel.file }}" height="32" width="50" alt="{{ config.wheel.name }}"><img src="{{ config.glider.file }}" height="32" width="50" alt="{{ config.glider.name }}">
      </td>
      <td data-priority="1" data-column="speed_ground">{{ config.speed_ground }}</td>
      <td data-priority="3" data-column="speed_water">{{ config.speed_water }}</td>
      <td data-priority="3" data-column="speed_air">{{ config.speed_air }}</td>
      <td data-priority="3" data-column="speed_antigravity">{{ config.speed_antigravity }}</td>
      <td data-priority="1" data-column="acceleration">{{ config.acceleration }}</td>
      <td data-priority="1" data-column="weight">{{ config.weight }}</td>
      <td data-priority="1" data-column="handling_ground">{{ config.handling_ground }}</td>
      <td data-priority="3" data-column="handling_water">{{ config.handling_water }}</td>
      <td data-priority="3" data-column="handling_air">{{ config.handling_air }}</td>
      <td data-priority="3" data-column="handling_antigravity">{{ config.handling_antigravity }}</td>
      <td data-priority="1" data-column="traction">{{ config.traction }}</td>
      <td data-priority="2" data-column="miniturbo">{{ config.miniturbo }}</td>
    </tr>
    <!-- Visible: xs -->
    <tr class="hidden-sm hidden-md hidden-lg">
      <td colspan="12">
        <img src="{{ config.character.file }}" height="64" width="64" alt="{{ config.character.name }}" class="character">
        <img src="{{ config.kart.file }}" height="64" width="100" alt="{{ config.kart.name }}">
        <img src="{{ config.wheel.file }}" height="64" width="100" alt="{{ config.wheel.name }}">
        <img src="{{ config.glider.file }}" height="64" width="100" alt="{{ config.glider.name }}">
      </td>
      <td data-priority="1" data-column="speed_ground" class="hidden-xs">{{ config.speed_ground }}</td>
      <td data-priority="3" data-column="speed_water" class="hidden-xs">{{ config.speed_water }}</td>
      <td data-priority="3" data-column="speed_air" class="hidden-xs">{{ config.speed_air }}</td>
      <td data-priority="3" data-column="speed_antigravity" class="hidden-xs">{{ config.speed_antigravity }}</td>
      <td data-priority="1" data-column="acceleration" class="hidden-xs">{{ config.acceleration }}</td>
      <td data-priority="1" data-column="weight" class="hidden-xs">{{ config.weight }}</td>
      <td data-priority="1" data-column="handling_ground" class="hidden-xs">{{ config.handling_ground }}</td>
      <td data-priority="3" data-column="handling_water" class="hidden-xs">{{ config.handling_water }}</td>
      <td data-priority="3" data-column="handling_air" class="hidden-xs">{{ config.handling_air }}</td>
      <td data-priority="3" data-column="handling_antigravity" class="hidden-xs">{{ config.handling_antigravity }}</td>
      <td data-priority="1" data-column="traction" class="hidden-xs">{{ config.traction }}</td>
      <td data-priority="2" data-column="miniturbo" class="hidden-xs">{{ config.miniturbo }}</td>
    </tr>
    <tr class="hidden-sm hidden-md hidden-lg">
      <td class="hidden-xs"></td>
      <td data-priority="1" data-column="speed_ground">{{ config.speed_ground }}</td>
      <td data-priority="3" data-column="speed_water">{{ config.speed_water }}</td>
      <td data-priority="3" data-column="speed_air">{{ config.speed_air }}</td>
      <td data-priority="3" data-column="speed_antigravity">{{ config.speed_antigravity }}</td>
      <td data-priority="1" data-column="acceleration">{{ config.acceleration }}</td>
      <td data-priority="1" data-column="weight">{{ config.weight }}</td>
      <td data-priority="1" data-column="handling_ground">{{ config.handling_ground }}</td>
      <td data-priority="3" data-column="handling_water">{{ config.handling_water }}</td>
      <td data-priority="3" data-column="handling_air">{{ config.handling_air }}</td>
      <td data-priority="3" data-column="handling_antigravity">{{ config.handling_antigravity }}</td>
      <td data-priority="1" data-column="traction">{{ config.traction }}</td>
      <td data-priority="2" data-column="miniturbo">{{ config.miniturbo }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="13"><em>
      <span class="empty-alert hidden-xs">Your list is empty. Add a kart configuration by clicking the button below.</span>
      <span class="empty-alert hidden-sm hidden-md hidden-ms">Your list is empty. Add a configuration below.</span>
    </em></td></tr>
    {% endfor %}
    </tbody>

  </table>
</div>
{% block add_configform %}{% endblock %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/tablesorter/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.stickytableheaders.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.toggle-columns.js' %}"></script>
<script>
$( document ).ready(function() {
  // ???
  // $( ".choice" ).click(function() {
  //   $( this ).toggleClass( "chosen" );
  // });

  // tablesorter
  $('table').tablesorter({
            sortInitialOrder: 'desc',
  });

  // stickyTableHeaders
  $('table').stickyTableHeaders();

  // Hide & Show Table Columns
  enable_toggleable_list_columns();
});
</script>
{% block script_extra %}{% endblock %}
{% endblock %}
