@import "bootstrap/variables";

/* ====================== */
/* Typography             */
/* ====================== */

div.panel ul.nav-tabs li:first-letter {
  text-transform: capitalize;
}

/* ====================== */
/* Layout                 */
/* ====================== */

//
// Mobile Tweaks
//

@media only screen {
  // Shrink Components tabs to fit on sub-xs devices
  div.panel ul.nav-tabs li {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: $screen-xs-min) {
  // Return Components tabs to normal size
  div.panel ul.nav-tabs li {
    font-size: 1em;
  }
  // Add margin beneath tabs
  .panel .nav {
    margin-bottom: 15px;
  }
  table.tablesorter tbody tr td {
    cursor: pointer;
  }
}

//
// Tablet Tweaks
//

@media only screen and (min-width: $screen-sm-min) {}

//
// Medium Desktop Tweaks
//

@media only screen and (min-width: $screen-md-min) {}

//
// Large Desktop Tweaks
//

@media only screen and (min-width: $screen-lg-min) {}

/* ====================== */
/* Color                  */
/* ====================== */

table tbody tr.similar td {
  background-color: #f0dddd !important;
  border-color: #aaa;
}

table tbody tr.selected td {
  background-color: #d65352 !important;
  border-color: #aaa;
  color: white;
}

/* ====================== */
/* Print                  */
/* ====================== */

@media print {}
