@import "bootstrap/variables";

/* ====================== */
/* Typography             */
/* ====================== */

.empty-alert {
  line-height: 6em;
}

/* ====================== */
/* Layout                 */
/* ====================== */

//
// Mobile Tweaks
//

@media only screen {
  // View dropdown
  div.dropdown {
    li.dropdown-header {
      padding-left: 10px;
    }
    li a {
      padding-left: 25px;
      font-size: 0.8em;
    }
  }
  // Shrink table headers to fit on sub-xs devices
  th.header {
    font-size: 0.6em;
  }
  // tablesorter
  table.tablesorter thead span.unsortable {
    background-image: none !important;
  }
  table.tablesorter thead {
    cursor: pointer;
  }
  table.tablesorter thead tr {
    font-size: 0.8em;
  }
  table.tablesorter thead tr th span {
    background-image: url("../js/tablesorter/themes/black/bg.gif");
    background-size: 21px 9px;
    background-repeat: no-repeat;
    background-position: 100% 82%;
    padding-right: 17px;
    margin-right: -17px;
  }
  table.tablesorter thead tr th.headerSortUp span {
    background-image: url("../js/tablesorter/themes/black/asc.gif");
    background-size: 21px 4px;
    background-repeat: no-repeat;
    background-position: 100% 60%;
  }
  table.tablesorter thead tr th.headerSortDown span {
    background-image: url("../js/tablesorter/themes/black/desc.gif");
    background-size: 21px 4px;
    background-repeat: no-repeat;
    background-position: 100% 60%;
  }
  table.tablesorter thead tr th {
    text-align: center;
  }
  table.tablesorter tbody tr {
    font-size: 0.8em;
  }
  table.tablesorter tbody tr td {
    img.character {
      margin-right: 10px;
    }
    text-align: center;
    // padding: 15px 10px;
    vertical-align: middle;
  }
  table.tablesorter tbody tr td.lalign {
    text-align: left;
  }
}

@media only screen and (min-width: $screen-xs-min) {
  // Return table headers to normal size
  th.header {
    font-size: 1em;
  }
}

//
// Tablet Tweaks
//

@media only screen and (min-width: $screen-sm-min) {}

//
// Medium Desktop Tweaks
//

@media only screen and (min-width: $screen-md-min) {}

//
// Large Desktop Tweaks
//

@media only screen and (min-width: $screen-lg-min) {
  table.tablesorter thead tr th,
  table.tablesorter tbody tr th,
  table.tablesorter tfoot tr th,
  table.tablesorter thead tr td,
  table.tablesorter tbody tr td,
  table.tablesorter tfoot tr td {
    padding: 8px 4px;
  }
}

/* ====================== */
/* Color                  */
/* ====================== */

div.dropdown {
  a span {
    color: lighten(black, 60%);
  }
  a.selected {
    span {
      color: darken(white, 15%);
    }
    background-color: rgba(45, 136, 205, 0.6);
    color: white;
  }
}

.empty-alert {
  color: #aaa;
}

.secret-stat {
  background-color: whitesmoke;
}

table.tablesorter thead {
  background-color: whitesmoke;
}

table.tablesorter thead th:hover {
  color: #d65352;
}

table.tablesorter .speed {
  background-color: #dfefd8;
}

table.tablesorter .handling {
  background-color: #fcf7e3;
}

table.tablesorter tbody tr {
  color: #555;
}

/* ====================== */
/* Print                  */
/* ====================== */

@media print {}
