{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kart Comparison Tool</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Twitter Bootstrap CSS  -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <style>
            th:after {
            content: "";
            }
            .logo {
                padding: 20px;
            }
            .nav {
                min-height: 115px;
                padding: 37px 20px 36px 0;
            }
            body {
                background-image: url({% static 'mario-bg.jpg' %});
                background-repeat: no-repeat;
                background-position: right top;
            }
        </style>
        {% block head %}{% endblock %}
    </head>
    <body>

    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <a href="/"><img src="{% static 'logo.png' %}" alt="Kart Comparison Tool" class="logo"></a>
            </div>
            <div class="hidden-xs col-md-9">
                <ul class="nav nav-pills navbar-right">
                  <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                  <li><a href="/items/"><span class="glyphicon glyphicon-th-list"></span> Items</a></li>
                  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-cloud-upload"></span> Import</a></li>
                  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-cloud-download"></span> Export</a></li>
                  <!--<li><a href="http://github.com/dougwt/mk8">Source</a></li>-->
                </ul>
            </div>
        </div>

        <!-- BEGIN PAGE CONTENT -->

        {% block content %}{% endblock %}

        <!-- END PAGE CONTENT -->

        <!-- Footer -->
        <h6 class="row text-center text-small"><small>The Mario Kart name, characters, and images are the property of Nintendo and used here in the spirit of community enrichment. Please don't sue me :)</small></h6>
        <h6 class="row text-center text-small"><small>Created by <a href="http://mycodebytes.com">Doug Tyler</a> &nbsp;<span class="glyphicon glyphicon-road"></span>&nbsp; View Source on <a href="http://github.com/dougwt/mk8">Github</a></small></h6>
        <h6 class="row text-center text-small"><small><em>"I'm-a gonna win!"</em></small></h6>

    </div>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Twitter Bootstrap JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>
