{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <!-- Page Header -->
        <div class="row">
            <div class="page-header">
                <h1>Mario Kart 8 <small>Kart Comparison Tool</small></h1>
            </div>
        </div>

        <!-- Begin Loadouts -->
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Your kart configurations:</h3>
                </div>
                <div class="panel-body">

                    <table class="table table-hover">

                        <!-- Header -->
                        <thead>
                            <th class="text-center">Configuration</th>
                            <th class="text-center">Speed</th>
                            <th class="text-center">Acceleration</th>
                            <th class="text-center">Weight</th>
                            <th class="text-center">Handling</th>
                            <th class="text-center">Traction</th>
                        </thead>

                        {% for config in configurations %}
                        <tr>
                            <td class="text-center">
                                <img src="http://static.mycodebytes.com/mariokart/assets/mk8/racers/{{ config.racer.file }}.png" height="57" width="75" alt="{{ config.racer.name }}">
                                <img src="http://static.mycodebytes.com/mariokart/assets/mk8/bodies/{{ config.body.file }}.png" height="64" width="100" alt="{{ config.body.name }}">
                                <img src="http://static.mycodebytes.com/mariokart/assets/mk8/tires/{{ config.tire.file }}.png" height="64" width="100" alt="{{ config.tire.name }}">
                                <img src="http://static.mycodebytes.com/mariokart/assets/mk8/gliders/{{ config.glider.file }}.png" height="64" width="100" alt="{{ config.glider.name }}">
                            </td>
                            <td class="text-center">{{ config.speed }}</td>
                            <td class="text-center">{{ config.acceleration }}</td>
                            <td class="text-center">{{ config.weight }}</td>
                            <td class="text-center">{{ config.handling }}</td>
                            <td class="text-center">{{ config.traction }}</td>
                        </tr>
                        {% endfor %}

                    </table>

                    <div class="text-right">
                        <button class="btn btn-default">Add
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Loadouts -->
{% endblock %}
